{% include "../components/header.html" %}
{% include "../components/sidebar.html" %}
<div class="container mt-3">
  <h2>Student Form</h2>
  <form action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter sname" name="sname">
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col">
        <select class="form-select" name="sdepartment" >
          <option value="" selected>Select a department</option>
          <option value="computer_science">Computer Science</option>
          <option value="mathematics">Mathematics</option>
          <option value="engineering">Engineering</option>
          <option value="arts">Arts</option>
          <option value="business">Business</option>
          <!-- Add more options as needed -->
        </select>
      </div>
    </div>
    <br><br>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter smno" name="smno">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter semail" name="semail">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter smname" name="smname">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter sfname" name="sfname">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Enter saddress" name="saddress">
      </div>
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember"> Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% include "../components/footer.html" %}