{% include "../components/header.html" %}
{% include "../components/sidebar.html" %}
<div class="content">
    <div class="container">
        <div class="card">
            <div class="card-header">
                Students Records
                <div class="btn btn-success">
                    <a href="/student-add/">Add student</a>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-hover text-center">
                        <tr>
                            <th>ID</th>
                            <th>StudentName</th>
                            <th>Department</th>
                            <th>mobail_num</th>
                            <th>Email</th>
                            <th>mother_name</th>
                            <th>father_name</th>
                            <th>address</th>

                            <th>Actions</th>
                        </tr>
                        {% for i in StudentData %}
                        <tr>
                            <td>
                                {{ forloop.counter }}
                            </td>
                            
                            <td>
                                {{ i.sname }}
                            </td>
                            
                            
                            <td>
                                {{ i.sdepartment }}
                            </td>
                            <td>
                                {{ i.smno }}
                            </td>
                            <td>
                                {{ i.semail }}
                            </td>
                            <td>
                                {{ i.smname }}
                            </td>
                            <td>
                                {{ i.sfname }}
                            </td>
                            <td>
                                {{ i.saddress }}
                            </td>
                            <td>
                                <a href="/student-view/{{i.id}}"  class="btn btn-primary">View</a>
                                <a href="/student-edit/{{i.id}}"  class="btn btn-primary">Edit</a>
                                <a href="/student-delete/{{i.id}}"  class="btn btn-primary">Delete</a>  
                            </td>
                        </tr>
                        
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "../components/footer.html" %}