<!-- partial -->
<div class="container-fluid page-body-wrapper">
  <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="mdi mdi-grid-large menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
    <li class="nav-item nav-category">UI Elements</li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-floor-plan"></i>
          <span class="menu-title">Admin</span>
          <i class="menu-arrow"></i>
        </a>
        {% comment %} <div class="collapse" id="ui-basic">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/static/pages/ui-features/buttons.html">Buttons</a>
            </li>
            
          </ul>
        </div> {% endcomment %}
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
          <i class="menu-icon mdi mdi-card-text-outline"></i>
          <span class="menu-title">Department</span>
          <i class="menu-arrow"></i>
        </a>
        {% comment %} <div class="collapse" id="form-elements">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/static/pages/forms/basic_elements.html">Basic Elements</a>
            </li>
          </ul>
        </div> {% endcomment %}
      </li>
      <li class="nav-item">
        <a class="nav-link"   href="/faculty-list/">
          <i class="menu-icon mdi mdi-chart-line"></i>
          <span class="menu-title">Faculty</span>
          <i class="menu-arrow"></i>
        </a>
        {% comment %} <div class="collapse" id="charts">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/static/pages/charts/chartjs.html">ChartJs</a>
            </li>
          </ul>
        </div> {% endcomment %}
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/student-list/">
          <i class="menu-icon mdi mdi-table"></i>
          <span class="menu-title">Students</span>
          <i class="menu-arrow"></i>
        </a>
        {% comment %} <div class="collapse" id="tables">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/static/pages/tables/basic-table.html">Basic table</a>
            </li>
          </ul>
        </div> {% endcomment %}
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
          <i class="menu-icon mdi mdi-book"></i>
          <span class="menu-title">Subject</span>
          <i class="menu-arrow"></i>
        </a>
      </li>
      {% comment %} <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
          <i class="menu-icon mdi mdi-layers-outline"></i>
          <span class="menu-title">Icons</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="icons">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/static/pages/icons/font-awesome.html">Font Awesome</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
          <i class="menu-icon mdi mdi-account-circle-outline"></i>
          <span class="menu-title">User Pages</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="auth">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/static/pages/samples/blank-page.html">Blank Page</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/static/pages/samples/error-404.html">404</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/static/pages/samples/error-500.html">500</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/static/pages/samples/login.html">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/static/pages/samples/register.html">Register</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="docs/documentation.html">
          <i class="menu-icon mdi mdi-file-document"></i>
          <span class="menu-title">Documentation</span>
        </a>
      </li> {% endcomment %}
    </ul>
  </nav>
  <!-- partial -->
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-12">
          